<!--
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>
  <arg name="IS_TWISTSTAMPED" default="true" />
  <arg name="use_rviz" default="true" />
  <arg name="publish_covariance" default="false"/>

  #### start the laser scan_matcher ##############################

  <group if="$(arg publish_covariance)">
    <param name="laser_scan_matcher_odom/do_compute_covariance" value="1"/>
    <param name="laser_scan_matcher_odom/publish_pose_with_covariance" value="true"/>
    <param name="laser_scan_matcher_odom/publish_pose_with_covariance_stamped" value="true"/>
  </group>
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_odom"
    name="laser_scan_matcher_odom" output="screen">

    <param name="max_iterations" value="10"/>
  </node>

</launch>
